node_modules/
dist/
release/
.vite/
*.log
.DS_Store
Thumbs.db

*.tsbuildinfo

src/**/*.js
tests/**/*.js
vite.config.js
tsconfig.tsbuildinfo
desktop-dist/

# Proxy Security
backend/.env
backend/.wrangler
.env.local
*.secret.*
